#cart .img-cart {
    width: 100px;
    height: auto;
}

#cart .table-flex {
    text-align: center;
}
 
@media screen and (max-width: 700px) {
    #cart .table-flex {
        display: flex !important;
        flex-direction: column !important;
    }
 }